#log-out{
    margin:20px;
    margin-left: auto;
}
#title{

    margin:30px;
    margin-left: 150px;
    font-size:40px;
    color: tomato;
}   
.card{
 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    margin:10px;
    padding: 30px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  #textarea{
      width: 100%;
      height: 100px;
  }